{% if not INCLUDED_PIA_ACP_CSS %}
	{% INCLUDECSS '@threedi_pia/pia_acp.css' %}
	{% set INCLUDED_PIA_ACP_CSS = true %}
{% endif %}

{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_PIA_TITLE') }}</h1>

<fieldset class="pia-acp-outer">
	<fieldset class="pia-acp-middle">
		<fieldset class="pia-acp-inner">
			<div style="text-align:center;margin-bottom:.5em;">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin-top:.5em;">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="ZLN6KTV2WQSRN">
				<input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donate_LG.gif" name="submit" >
				<img src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</fieldset>
	</fieldset>
</fieldset>

{% if S_ERRORS %}
{# Non invasive error reporting #}
<fieldset>
	<legend>{{ lang('ACP_PIA_ERRORS') }}</legend>
	<p class="error">
		{{ ERRORS_MSG }}
	</p>
</fieldset>
{% endif %}

<form id="threedi_pia" method="post" action="{U_ACTION}">
	<fieldset class="pia-acp-outer">
		<fieldset class="pia-acp-middle">
			<fieldset class="pia-acp-inner">
				<legend>{{ lang('PIA_DEFAULT_AVATAR_FIELD') }}</legend>
				<div class="pia-acp-rules">{{ lang('PIA_DEFAULT_AVATAR_EXPLAIN') }}</div>
				<dl>
					<dt>
						<label for="threedi_pia_default_avatar">{{ lang('PIA_DEFAULT_AVATAR') }}{{ lang('COLON') }}</label>
					</dt>
					<dd>
						<input type="radio" class="radio" name="threedi_pia_default_avatar" value="1" {% if PIA_DEFAULT_AVATAR %}id="threedi_pia_default_avatar" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="threedi_pia_default_avatar" value="0" {% if not PIA_DEFAULT_AVATAR %}id="threedi_pia_default_avatar" checked="checked"{% endif %} /> {{ lang('NO') }}
					</dd>
				</dl>
			</fieldset>
			<fieldset class="pia-acp-inner">
				{#
					The HTML5 type color input field opens the operating system's color widget.
					Returns the HexDec value of the chosen color in format #000000
					If not supported, returns a type text color-picker.

					An automated HexDec input field has been provided here, though.
				#}
				<dl>
					<dt>
						<label for="threedi_pia_background_val">{{ lang('PIA_BCGK_COL_VAL') }}{{ lang('COLON') }}</label>
					</dt>
					<dd>
						<input type="text" name="threedi_pia_background_val" id="threedi_pia_background_val" class="input" value="{{ PIA_BCGK_COL_VAL }}"  pattern="#[a-fA-F0-9]{6,6}" size="7" title="{{ lang('PIA_COLORPICKER_EXPLAIN') }}" onchange="document.getElementById('threedi_pia_background_val_hex').value = this.value;" />

						<input type="color" name="threedi_pia_background_val_hex" id="threedi_pia_background_val_hex" class="input" value="{{ PIA_BCGK_COL_VAL }}" placeholder="{{ PIA_BCGK_COL_VAL }}" title="{{ lang('PIA_COLORPICKER_EXPLAIN') }}" onchange="document.getElementById('threedi_pia_background_val').value = this.value;"/>&nbsp;
						
						{{ lang('PIA_COL_VAL_STORED') }}{{ lang('COLON') }}&nbsp;

						<input type="text" class="input" value="{{ PIA_BCGK_COL_VAL }}" size="7" title="{{ lang('PIA_COLORPICKER_STORED') }}"/>

						<input type="color" class="input" value="{{ PIA_BCGK_COL_VAL }}" placeholder="{{ PIA_BCGK_COL_VAL }}" title="{{ lang('PIA_BCGK_COL_VAL_STORED') }}" disabled/>
					</dd>
				</dl>

				<dl>
					<dt>
						<label for="threedi_pia_color_val">{{ lang('PIA_TXT_COL_VAL') }}{{ lang('COLON') }}</label>
					</dt>
					<dd>
						<input type="text" name="threedi_pia_color_val" id="threedi_pia_color_val" class="input" value="{{ PIA_TXT_COL_VAL }}"  pattern="#[a-fA-F0-9]{6,6}" size="7" title="{{ lang('PIA_COLORPICKER_EXPLAIN') }}" onchange="document.getElementById('threedi_pia_color_val_hex').value = this.value;" />

						<input type="color" name="threedi_pia_color_val_hex" id="threedi_pia_color_val_hex" class="input" value="{{ PIA_TXT_COL_VAL }}" placeholder="{{ PIA_TXT_COL_VAL }}" title="{{ lang('PIA_COLORPICKER_EXPLAIN') }}" onchange="document.getElementById('threedi_pia_color_val').value = this.value;"/>&nbsp;
						
						{{ lang('PIA_COL_VAL_STORED') }}{{ lang('COLON') }}&nbsp;

						<input type="text" class="input" value="{{ PIA_TXT_COL_VAL }}" size="7" title="{{ lang('PIA_COLORPICKER_STORED') }}"/>

						<input type="color" class="input" value="{{ PIA_TXT_COL_VAL }}" placeholder="{{ PIA_TXT_COL_VAL }}" title="{{ lang('PIA_TXT_COL_VAL') }}" disabled/>
					</dd>
				</dl>
			</fieldset>

			<fieldset class="pia-acp-inner">
				<dl>
					<dt>
						<label for="threedi_pia_size_val">{{ lang('PIA_IMG_SIZE') }}{{ lang('COLON') }}</label><br>{{ lang('PIA_IMG_SIZE_EXPLAIN') }}
					</dt>
					<dd>
						<input type="number" min="16" max="256" name="threedi_pia_size_val" id="threedi_pia_size_val" size="4" value="{{ PIA_IMG_SIZE_VAL }}" />
					</dd>
				</dl>

				<dl>
					<dt>
						<label for="threedi_pia_length_val">{{ lang('PIA_IN_LENGTH_VAL') }}{{ lang('COLON') }}</label><br>{{ lang('PIA_IN_LENGTH_VAL_EXPLAIN') }}
					</dt>
					<dd>
						<input type="number" min="1" max="4" name="threedi_pia_length_val" id="threedi_pia_length_val" size="4" value="{{ PIA_IN_LENGTH_VAL }}" />
					</dd>
				</dl>

				<dl>
					<dt>
						<label for="threedi_pia_font_val">{{ lang('PIA_FONT_SIZE_VAL') }}{{ lang('COLON') }}</label><br>{{ lang('PIA_FONT_SIZE_VAL_EXPLAIN') }}
					</dt>
					<dd>
						<input type="number" step="0.01" min="0.1" max="1" name="threedi_pia_font_val" id="threedi_pia_font_val" size="4" value="{{ PIA_FONT_SIZE_VAL }}" />
					</dd>
				</dl>

				<dl>
					<dt>
						<label for="threedi_pia_rou_val">{{ lang('PIA_IMG_ROUNDED_VAL') }}{{ lang('COLON') }}</label><br>{{ lang('PIA_IMG_ROUNDED_VAL_EXPLAIN') }}
					</dt>
					<dd>
						<input type="radio" class="radio" name="threedi_pia_rou_val" value="1" {% if PIA_IMG_ROUNDED_VAL %}id="threedi_pia_rou_val" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="threedi_pia_rou_val" value="0" {% if not PIA_IMG_ROUNDED_VAL %}id="threedi_pia_rou_val" checked="checked"{% endif %} /> {{ lang('NO') }}
					</dd>
				</dl>

				<dl>
					<dt>
						<label for="threedi_pia_upp_cas_val">{{ lang('PIA_UPPERCASE_VAL') }}{{ lang('COLON') }}</label><br>{{ lang('PIA_UPPERCASE_VAL_EXPLAIN') }}
					</dt>
					<dd>
						<input type="radio" class="radio" name="threedi_pia_upp_cas_val" value="1" {% if PIA_UPPERCASE_VAL %}id="threedi_pia_upp_cas_val" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
						<input type="radio" class="radio" name="threedi_pia_upp_cas_val" value="0" {% if not PIA_UPPERCASE_VAL %}id="threedi_pia_upp_cas_val"  checked="checked"{% endif %} /> {{ lang('NO') }}
					</dd>
				</dl>
			</fieldset>

		</fieldset>
	</fieldset>

	<fieldset class="pia-acp-submit">
		<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="submit" name="preview" value="{L_PREVIEW}" />
		</fieldset>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
